<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    
    <!-- Estilos -->
    <link rel="stylesheet" href="{{ url_for('static', path='css/tailwind.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/index.css') }}">
    {% block styles %}{% endblock styles %}
</head>
<body class="bg-background text-foreground">
    <div class="flex h-screen">
        {% include 'navbar.html' %}

        {% block content %}

        {% endblock content %}
    </div>

    {% block scripts %}{% endblock scripts %}
    <script src="{{ url_for('static', path='js/navbar.js') }}"></script>
</body>
</html>